@font-face {
  font-family: 'NewEdge666';
  src: url('../../assets/font/NewEdge666-RegularRounded.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #DCCCBD;
}

header {
  position: relative;
  width: 100%;
  min-height: 80px; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  flex-wrap: wrap;
}

.custom-header {
  background-color: #002a1d;
  padding: 15px 10px; /* default for desktop */
  height: auto; 
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-header img {
  height: auto;
  max-height: 60px;
  max-width: 100%;
}

header span {
  font-size: 0.8rem;
  font-weight: bold;
  margin-left: auto;
  white-space: nowrap;
}

.custom-header .container {
  padding-left: 0;
  padding-right: 0;
}

/* Logo styling */
.logo {
  position: relative;
  z-index: 3;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.8);
  padding: 2px 4px;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.logo-img {
  max-height: 100px;
  height: auto;
  width: auto;
}

.custom-body {
  background-color: #DCCCBD
}

.footer-icon {
  max-height: 80px;   /* keeps images from being too tall */
  width: auto;        /* keeps aspect ratio */
  object-fit: contain; /* makes sure logos fit nicely */
}

.name-btn {
  color: black;
  text-decoration: underline;
}

.name-btn:hover {
  color: gray;
  text-decoration: underline;
}

.title-header {
  font-family: 'NewEdge666', sans-serif;
  font-size: 48px;
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
}

.last-updated {
  font-size: 1rem;
  font-weight: bold;
  white-space: nowrap;
}

.name-clicked {
  animation: clickPop 0.3s ease;
}

@keyframes clickPop {
  0%   { transform: scale(1); background-color: #ffff99; } /* light yellow */
  50%  { transform: scale(1.2); background-color: #ffcc33; } /* orange */
  100% { transform: scale(1); background-color: transparent; }
}