@font-face {
  font-family: 'NewEdge666';
  src: url('../../assets/font/NewEdge666-RegularRounded.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #DCCCBD;
}

/* Header container */
header {
  position: relative;
  width: 100%;
  height: 120px; /* adjust height of banner */
  /* background: url("../images/banner.jpg") no-repeat center center/cover; */
  display: flex;
  align-items: left;
  justify-content: center;
}

.custom-header {
  background-color: #002a1d;
  padding: 10;
  z-index: 1;
}

.custom-header img {
  height: 100%;
  max-height: 100px; /* keeps it under control */
}

.custom-header .container {
  padding-left: 0;
  padding-right: 0;
}

/* Logo styling */
.logo {
  position: relative;
  z-index: 3; /* keep above banner */
  cursor: pointer;
  background: rgba(255, 255, 255, 0.8); /* subtle background behind logo */
  padding: 2px 4px;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.logo img {
  height: 40px; /* adjust logo size */
  width: auto;
  pointer-events: auto;
  cursor: pointer;
}

.custom-body {
  background-color: #DCCCBD
}

.footer-icon {
  max-height: 80px;   /* keeps images from being too tall */
  width: auto;        /* keeps aspect ratio */
  object-fit: contain; /* makes sure logos fit nicely */
}

.name-btn {
  color: black;
  text-decoration: underline;
}

.name-btn:hover {
  color: gray;
  text-decoration: underline;
}

.title-header {
  font-family: 'NewEdge666', sans-serif;
  font-size: 60px;
  padding-top: 8px;
  font-weight: 600;
}